{% extends "base.html" %}

{% block title %}
View chat: {{ item.id }}
{% endblock title %}

{% block page_title %}
View chat: {{ item.id }}
{% endblock page_title %}


{% block content %}
<div class="mb-10">
    <div>
    <label><b>{{"message" | capitalize }}:</b> {{item.message}}</label>
    </div>
<div>
    <label><b>{{"sender" | capitalize }}:</b> {{item.sender}}</label>
    </div>
<div>
    <label><b>{{"recipient" | capitalize }}:</b> {{item.recipient}}</label>
    </div>
<br />
<a href="/chats">Back to chats</a>
</div>
{% endblock content %}
